<div class="row">
  <div class="col-md-12 ">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: true, autofocus: true, required: '' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 select">
    <div class="form-group">
      <%= f.label :value %>
      <%= f.text_field :value,
                       class: 'form-control',
                       placeholder: true,
                       autofocus: true,
                       required: '',
                       value: f.object.value || 0 %>
  </div>
  </div>
</div>
<div class='row'>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :method %>
      <div>
        <div class='col-md-6'>
          <label>
            <input type="radio" name="discount[method]" value="percentage" <%= f.object.percentage? ? 'checked':''%> ></input>
            <%= I18n.t('discounts.shared.percentage')%>
          </label>
        </div>
        <div class='col-md-6'>
          <label>
            <input type="radio" name="discount[method]" value="fixed" <%= f.object.percentage? ? '':'checked' %>></input>
            <%= I18n.t('discounts.shared.fixed')%>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class='row'>
  <div class="col-md-12">
    <div class="form-group">
      <label>
        <input type="checkbox" name="discount[round]" <%= f.object.round? ? 'checked':''%> ></input>
        <%= t('.round_text')%>
      </label>
    </div>
  </div>
</div>


